In [19]:
#HW1.  How do you handle duplicate values in a dataset in Python?


import numpy as np
import pandas as pd
import scipy

%matplotlib inline
import matplotlib.pyplot as plt

import numpy as np
a = np.array([1,2,3,3,4,5])
print a

a_dedupe = np.unique(a)
print a_dedupe

#we can using df.T.drop_duplicates(Col1) to drop columns.

[1 2 3 3 4 5]
[1 2 3 4 5]

In [21]:
#HW2. You are given two tables - friend_request and request_accepted. Friend_request contains requester_id, time and sent_to_id and request_accepted table contains time, acceptor_id and requestor_id. 
#How will you determine the overall acceptance rate of requests?


#Python
import pandas as pd

friend_request = pd.DataFrame(
    {"requester_id":[1001,1002,1003],
     "time":["2017-07-01","2017-07-02","2017-07-03"],
     "receiver_id":[3001,3002,3003]}
)

request_accepted = pd.DataFrame(
    {"requester_id":[1001,1003],
     "time":["2017-07-01","2017-07-04"],
     "acceptor_id":[3001,3003]}
)

print(friend_request)
print(request_accepted)


#Sql
#select 
#round(
    #ifnull(
    #(select count(*) from (select distinct requester_id, accepter_id from request_accepted) as A)
    #/
    #(select count(*) from (select distinct sender_id, send_to_id from friend_request) as B),
    #0), 2) as accept_rate;

   receiver_id  requester_id        time
0         3001          1001  2017-07-01
1         3002          1002  2017-07-02
2         3003          1003  2017-07-03
   acceptor_id  requester_id        time
0         3001          1001  2017-07-01
1         3003          1003  2017-07-04

In [0]:
#HW3.
cc = '4175004175004172' 
#cc ='4917491749174917'
#cc = '346416800707698'
#cc = '376416800707698'
#cc = '37641680070769832112'
#cc = '36641680070769'
#cc = 54545641680070769’

if ((cc[0:2] == '36') and (len(cc) == 14)):
  print("this card is Diners Club")
if (cc[0:2] == "34" or "37") and (len(cc) == 15):
  print ("this card is AMEX")
if (cc[0:1] == "4") and (len(cc) == 16):
    if (cc[0:6] == "417500" ):
    if (cc[0:4] == "4026") or (cc[0:4] == "4405" ) or (cc[0:4] =='4508') 
        or (cc[0:4] =='4844') or (cc[0:4] =='4913') or (cc[0:4] =="4917"):
        print ("this card is VISASELECTRON")

if ((cc[0] == '4') and (len(cc) == 16)):
  print("this card is VISA")
    else:
  print("try again")

In [0]:
#HW4.

import pandas as pd

from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

In [0]:
#function 1: for any given experiment_id, return a list group by date
def GetSeries(my_data, my_id):
    table = my_data[["date", "spend_usd"]][my_data.experiment_id == my_id]
    series = table.groupby('date')['spend_usd'].sum()
    return(series)

# function 2: for any two series, plot the time series
def PlotSeries(experiment_series, control_series):
    fig, ax = plt.subplots()
    ax.plot(experiment_series, color="red", label="experiment")
    ax.plot(control_series, color="blue", label="control")
    ax.set_title("Red vs. Blue")
    ax.set_ylabel("Total spend")
    ax.grid(True, which="both")
    ax.legend()
    #plt.gcf().autofmt_xdate()
    
def PrintCumulativeTimeSeries(my_data, experiment_ids, country):
    # make sure our x-axis is consistent
    index_series = np.unique(my_data.date) # unique date
    index_series = np.sort(index_series) # sort by date
    
    # data grouping
    my_data = my_data.sort_values("date", ascending=True, inplace=False)
    treatment_series = GetCumulativeSeries(my_data, experiment_ids[0], country)[0]
    control_series = GetCumulativeSeries(my_data, experiment_ids[1], country)[0]
    treatment_revenue = GetCumulativeSeries(my_data, experiment_ids[0], country)[1]
    control_revenue = GetCumulativeSeries(my_data, experiment_ids[1], country)[1]
    
    print("Cumulative revenue impact: " + str(treatment_revenue/control_revenue*100-100) + "%")
    PlotSeries(treatment_series, control_series)